@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Vazirmatn", sans-serif;
  /* --color-primary: #1d4ed8; */
  /* --color-accent: #dc2626; */
}
body {
  background-image: url("../images/footer.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
